@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import './scss/colors';

* {
  font-family: 'Maven Pro', sans-serif;
}

.btn {
  background-color: $green;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4rem;
  text-decoration: none;
  user-select: none;
  max-height: 30px;

  &:hover {
    background-color: lighten($green, 5%);
    transition: background-color 0.4s linear;
  }
}
